<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPaper</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Epaper</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li class="nav-item"><a class="nav-link" role="button" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>


                <li class="dropdown">
                    <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Product
                    </a>

                    <div class="dropdown-menu" aria-labelledby="Products">
                        <a class="dropdown-item" href="">Books</a>
                        <a class="dropdown-item" href="">Magazines</a>
                        <a class="dropdown-item" href="">Comics</a>
                        <a class="dropdown-item" href="">CDs</a>
                    </div>

                </li>
                @if (this.User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a class="nav-link" role="button" asp-area="" asp-controller="Home" asp-action="AdminIndex">Administration</a></li>
                }
            </ul>
        </div>



        <div>
            <partial name="_LoginPartial" />
        </div>
    </nav>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="flex sitemap row">
                <div class="text-left">
                    <h4 class="font-weight-light">Top Categories</h4>
                    <div class="menu-%ce%ba%ce%b1%cf%84%ce%b7%ce%b3%ce%bf%cf%81%ce%af%ce%b5%cf%82-%cf%83%cf%84%ce%bf-footer-container">
                        <ul id="menu-%ce%ba%ce%b1%cf%84%ce%b7%ce%b3%ce%bf%cf%81%ce%af%ce%b5%cf%82-%cf%83%cf%84%ce%bf-footer" class="menu">

                            <li class="font-weight-light"><a href="">Books</a></li>
                            <li class="font-weight-light"><a href="">Magazines</a></li>
                            <li class="font-weight-light"><a href="">Comics</a></li>
                            <li class="font-weight-light"><a href="">CDs</a></li>


                        </ul>
                    </div>
                </div>

                <div class="text-center">
                    <h4 class="font-weight-light">Shop</h4>
                    <ul>
                        <li class="font-weight-light">Monday - Friday: 11:00 - 20:00</li>
                        <li class="font-weight-light">Aisxilou 7</li>
                        <li class="font-weight-light">Athens Greece</li>
                        <li class="font-weight-light">Phone: 2100000</li>
                        <li class="font-weight-light">Email: <a href="hello@epaper.com">hello@epaper.com</a></li>
                    </ul>
                </div>
                <div class="text-right">
                    <h4 class="font-weight-light">Epaper</h4>
                    <ul>
                        <li class="font-weight-light"><a href="https://localhost:44303/Home/About">About Us</a></li>
                        <li class="font-weight-light"><a href="https://localhost:44303/Home/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>